[Desktop Entry]
Name=YTMusicPlayer
Comment=YouTube Music Player
Exec=ytmusicplayer
Icon=ytmusicplayer
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
StartupWMClass=ytmusicplayer
